<div class="jumbo">
    <div>
    <p class="header">Cricket Commentary Page</p>
    </div>
    <br>
    <table>
        <tr>
            <div class="flex-container">
                <div>
                    {{body/team-details}}
                </div>
                <div>
                    {{body/score-details}}
                </div>
            </div>
        </tr>
    </table>
</div>