{{#each this.variables.overlist as |o|}}
<tr>
<td>Over {{o}}</td>
  {{#each this.variables.b as |ball|}}
      <td>{{ball}}</td>
  {{/each}}  
  {{#each this.variables.t as |tot|}}
  <td>{{tot}}</td> 
  {{/each}}
</tr>
{{/each}}