{{#each this.variables.overlist as |o|}}
{{#if o}}
<tr>
<td>Over {{o}}</td>
  {{#each this.variables.b as |ball|}}
      <td>{{ball}}</td>
  {{/each}}  
<td>{{this.variables.t.[{{o}}]}}</td> 
</tr>
{{/if}}
{{/each}}