<h4 class="scoreEditor">Score Table</h4>
<br>
<table class="scoreTable" border="1" style="border-spacing: 3px;border-radius:5px">
    <ScoreTableHeader></ScoreTableHeader>
    <ScoreTableRow/>    
</table>
<br><br>