 
<div class="jumbo">
     <div>
        <h2>Cricket Commentary Page</h2>
    </div>
    <br>
    <table>
        <tr>
            <div>
                <div class="logocsk"></div>
            </div>
            <div>
                <h4>Batting Team</h4>
                <h3>Chennai Super Kings</h3>
                <br>
                <h4>Total runs needed:</h4>
                <h3></h3>
                <br> 
                <h4>Overs: </h4>
                <h3></h3>
            </div>
            <br>
            <div>
                <h3>Batsman - 1</h3>
                <h4>-</h4>
                <h3>Batsman - 2</h3>
                <h4>-</h4>
                <h3>Bowler</h3>
                <h4>-</h4>
                <br>
                <LinkTo class="button" @route="home-page">
                    Go to Game
                </LinkTo>
            </div>
        </tr>
    </table>
</div>